---
import { getCollection } from 'astro:content'
import { onlyFinalPosts } from '../../content/content.utils'
import Layout from '../../layouts/Layout.astro'
import ArticleTimeline from '../../components/ArticleTimeline.svelte'

const blogCollection = await getCollection('blog', onlyFinalPosts)
---

<Layout title="Blog">
	<h1 class="max-w-xl text-4xl font-semibold text-slate-100 tracking-wide mb-8">
		My writing on software engineering, product design, and other interests.
	</h1>

	<ArticleTimeline client:load posts={blogCollection} />
</Layout>
