---
import Icon from './Icon.astro'

type Props = {
	iconName: string
}
const { iconName } = Astro.props
---

<div
	class="flex items-center justify-center border border-zinc-700/50 bg-zinc-800 transition w-max p-2 rounded-full text-zinc-500 hover:border-zinc-700 group-hover:border-zinc-700 hover:text-zinc-400 group-hover:text-zinc-400"
>
	<Icon name={iconName} />
</div>
