@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-brand-blue: #5a95d8;
	--color-brand-violet: #5651b3;
	--color-brand-dark-purple: #2d1623;
}

@layer components {
	.prose code::before {
		content: '';
	}

	.prose code::after {
		content: '';
	}
}
